
    <div id="label-Add-New">Thêm mới tiểu ban</div>

    <div>
        <span>Mã tiểu ban: </span>
        <span><input class="input-new-row-short" type="text" ></span>
    </div>

        <div>
            <span>Tên tiểu ban: </span>
            <span><input class="input-new-row-long" type="text" ></span>
        </div>


        <div>
            <span>Thời gian: </span>
            <span> <input type="date"></span>
        </div>


        <!-- <div>
            <span>Mã hội đồng: </span>
            <span><input class="input-new-row-short" type="text" ></span>
        </div>
    
            <div>
                <span>Tên hội đồng: </span>
                <span><input class="input-new-row-long" type="text" ></span>
            </div> -->



        <div>
            <button type="submit">Thêm</button>
            <button class="add_row_khoa_btn" type="submit">Thoát</button>
        </div>
        
