.top-bar{
    position: fixed;
    float: left;
    width: 100%;
    height: 35px;
    background-color: rgb(83, 104, 148);
    z-index: 1;
}

#input-text-title{
    float: left;
    position: relative;
    width: 80px;
    padding: 3px;
    margin-top: 5px;
    margin-left: 9px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.411);
    font-size: 14px;
    text-align: center;
}

#logout{
    position: relative;
    float: right;
    right: 0px;
    top: 0px;
    padding: 6px 11px;
    color: white;
    width: auto;
    text-align: center;
    margin-top: 0px;
    background-color: tomato;
}
.left-bar{
    position: fixed;
    float: left;
    width: auto;
    background-color:rgb(72, 91, 128);
    color: white;
    height: calc(100% - 35px);
    margin-top: 35px;
    z-index: 1;
}


.switchbtn{
    position: relative;
    float: left;
    width: auto;
    margin-left: 11px;
    height: auto;
}
.switchbtn span{
    float: left;
    position: relative;
    padding: 6px 10px;
    background-color: rgb(187, 187, 187);
    margin-left: 10px;
    color: white;
    cursor: pointer;
}

#activeswitchbar{
    background-color: rgb(49, 121, 40);
}

.left-bar div{
    position: relative;
    padding: 15px 30px;
    border-top: 1pt solid rgba(158, 158, 158, 0.185);
    font-size: 14px;
    height: auto;
    overflow: hidden;
    cursor: pointer;
}

.left-bar div:not(.item-many):hover{
    color: tomato;
}

.item-many p{
    padding-left: 10px;
    padding-top: 13px;
}



.item-many p:first-child{
    clear: both;
    padding-left: 0px;
    padding-top: 0px;
}

.item-temp:hover{
    color: tomato;
}



  .item-many:hover > .item-temp {
    display: block;
    opacity: 1;
  }



.left-bar div:first-child{
    background-color: rgb(47, 55, 70);
    height: 27px;
}

.left-bar div:first-child span{
    float: left;
    margin-top: 4px;
    margin-left: 8px;   
}
.left-bar div:first-child svg{
    float: left;
    fill: rgba(218, 218, 218, 0.616);
    margin-top: -4px;
}




#name-user{
  
    color: rgb(17, 233, 125);
    margin-top: 7px;
    margin-left: 12px;
    width: 200px;
    float: left;

}



.content{
    position: relative;
    float: left;
    margin-left: 250px;
    margin-top: 70px;
    width: calc(100% - 300px);
    height: auto;
    z-index: 0;
}


#button-bar{
    position: relative;
    float: left;
    background-color: rgb(230, 230, 230);
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 0px;


}

#button-bar svg{
    float: left;
    fill: rgba(0, 0, 0, 0.753);
    margin-top: 7px;
}

#button-bar i{
    margin-top: 11px;
    margin-left: 10px;
    float: left;

}

#name-item{
    margin-top: 7px;
    margin-left: 10px;
    float: left; 
}

#button-item{
    float: left;
    position: relative;
    color: white;
    background-color: rgb(55, 136, 81);
    margin-left: 20px;
    padding: 7px 8px;
    border-radius: 3%;
    cursor: pointer;
}

#button-item svg{
    float: left;
    margin: 0;
    margin-right: 10px;
    fill: white;
    margin-top: 3px;
    cursor: pointer;
}


#leave-btn{
    float: left;
    position: relative;
    color: white;
    background-color: rgb(136, 128, 55);
    margin-left: 20px;
    padding: 7px 8px;
    border-radius: 3%;
    cursor:pointer;
}

#leave-btn svg{
    float: left;
    margin: 0;
    margin-right: 10px;
    fill: white;
    margin-top: 3px;
}







.chose-bar{
    position: relative;
    float: left;
    background-color: rgb(230, 230, 230);
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 0px;
}

.chose-bar select {
    min-width: 150px;
    height: 30px;
    outline: none;
    border: 1px solid rgba(93, 93, 93, 0.507);
    background-color: white;
}

.chose-bar input{
    min-width: 150px;
    height: 28px;
    padding: 0px 10px;
    outline: none;
    border: 1px solid rgba(93, 93, 93, 0.507);
    background-color: white;
}

.chose-bar button{
    height: 30px;
    padding: 0px 10px;
    outline: none;
    border: 1px solid rgba(93, 93, 93, 0.507);
    margin-left: 5px;
    color: white;
    border: none;
    cursor:pointer;
}

table{
    position: relative;
    float: left;
    margin-top: 10px;
    width: calc(100%);
    background-color: white;
    border-collapse: collapse;
}


table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.144);
    cursor: pointer;
}


.yes-color-lum-table{
    background-color: rgb(184, 184, 184);
}

  th, td {
      padding: 5px;
  }

table tr:first-child td{
    color: black;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.034);
    background-color: rgb(230, 230, 230);
}

.edit-co-btn{
    background-color: rgb(73, 109, 38);
    width: 50px;
    float: left;
    text-align: center;
    margin: 5px;
    padding: 3px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-follow-row{
    position: relative;
    margin-top: 10px;
    float: left;
    height: auto;
    width: auto;
    float: right;
}

.btn-follow-row div{
    width: auto;
    float: left;
    text-align: center;
    margin: 5px;
    padding: 3px 7px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
}


#yes-color-btn-follow-row div{
    background-color: rgb(71, 127, 233);
}

.delete-co-btn{
    background-color: steelblue;
    width: 50px;
    float: left;
    text-align: center;
    margin: 5px;
    padding: 3px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.btn-co{

    width: 90px;
}
.btn-co-long{

    width: 170px;
}
.chitiet-co-btn{
    background-color: rgb(175, 156, 72);
    width: 90px;
    float: left;
    text-align: center;
    margin: 3px;
    padding: 1px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.phancongx-co-btn{
    background-color: rgb(66, 119, 60);
    width: 90px;
    float: left;
    text-align: center;
    margin: 3px;
    padding: 1px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.phancong-co-btn{
    background-color: rgb(60, 108, 211);
    width: 80px;
    float: left;
    text-align: center;
    margin: 5px;
    padding: 3px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}


.nav-page{
    position: relative;
    float: left;
    margin-top: 20px;
} 
.nav-page span{
    position: relative;
    padding: 6px  10px 4px 10px;
    border-radius: 2px;
    margin-right: 5px;
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

#chose-nav-item{
    background-color: rgb(168, 168, 168);
}


.Add-New-Row{
    margin-top: 10px;
    position: relative;
    float: left;
    border: 5px solid rgba(0, 0, 0, 0.096);
    height: auto;
    width: 100%;
}



.Add-New-Row div{
    float: left;
    position: relative;
    width: 100%;

    margin-top: 10px;
}

.Add-New-Row div span:first-child:not(.label-item-add){
    position: relative;
    width: 20%;
    float: left;
    padding-right: 10px;
    text-align: right;
    margin-top: 7px;

}

.Add-New-Row div span:nth-child(2){
    position: relative;
    float: left;
    width: calc(70% - 100px);
    height: auto;
}

.Add-New-Row div button:not(.left_row_tb_btn){
    position: relative;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 4px 7px;
    background-color: cornflowerblue;
    outline: none;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}


.Add-New-Row div button:first-child:not(.left_row_tb_btn){
    margin-left: calc(20%);
}

.Add-New-Row div div:not(.one-row-item-add) {
    position: relative;
    float: left;
    width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    padding-right: 10px;
}



.one-row-item-add{
    width: 500px;
}
/* .Add-New-Row div div:nth-child(1) , .Add-New-Row div div:nth-child(3){
    text-align: right;
    padding-right: 10px;

} */
.Add-New-Row div div:nth-child(1){
    margin-left: 50px;

}
.Add-New-Row div div:nth-child(2) , .Add-New-Row div div:nth-child(4){

}



.input-new-row-short{
    position: relative;
    float: left;
    width: calc(50% - 150px);
    padding: 4px 7px;
    height: 30px;
    outline: none;
    border: 1pt solid rgba(0, 0, 0, 0.294);
    margin-top: 4px;
}



.input-new-row-long{
    position: relative;
    float: left;
    width: calc(50% - 80px);
    margin-top: 4px;
    padding: 4px 7px;
    height: 30px;
    outline: none;
    border: 1pt solid rgba(0, 0, 0, 0.294);

}





.select-new-row{
    position: relative;
    float: left;
    width: calc(50% - 14px);
    padding: 4px 7px;
    height: 35px;
    outline: none;
}


#label-Add-New{
    position: relative;
    width: calc(100% + 1px);
    background-color:rgba(0, 0, 0, 0.096);
    padding: 5px 0px;
    padding-left: 5px;
    margin: 0px;
    margin-left: -1px;
}

.combo-box-add{
    background-color: white;
    padding: 8px;
    outline: none;
    width: 100px;
    height: auto;
}

.label-item-add{
    padding: 5px;
    float: left;
    text-align: left;
    background-color: rgb(224, 224, 224);
}

.show-item-info{

    position: relative;
    width: 20%;
    float: left;
    padding-right: 10px;
    text-align: left ;
    margin-top: 7px;


}

.combo-box-add-long{
    background-color: white;
    padding: 8px;
    outline: none;
    width: auto;
    height: auto;
}

.thoigianform{
    padding: 5px;
    float: left;
    text-align: center;
    outline: none;
}

.slide-select-lorm{
    position: relative;
    font-size: large;
    width: 400px;
    padding: 5px;
    border: 2px solid rgba(255, 154, 71, 0.664);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}



.left_row_btn{
    width: 100%;

    padding-left: 0px;

}

.left_row_tb_btn{
    height: auto;
    width: auto;
    margin-left: 10px ;
    position: relative;
    float: left;
    margin-bottom: 10px;
    padding: 2px 5px;
    background-color: cornflowerblue;
    outline: none;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.left_row_tb_btn:first-child{
    margin-left: 50px;

}

